:host{
   --lwc-heightInput:1.2rem;
}
.searchtxt{
    line-height: inherit;
    padding-right:5%;
}

.cardstyle{
    height: 100%;
    border-right: 0.5px solid;
    border-style: none;
    border-radius: none;
    box-shadow: none;
}

.containerdiv > div {
    display: inline-block;
    padding-top:10px;
    margin-left: 16px;
}

.icondiv{
    float:right;
    padding-right: 10px;
}

section {
    margin-top: 16px;
}

section > h1 {
    font-weight: bold;
    text-transform: uppercase;
}